<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <!--
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Sort by
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="{%  url 'products' %}?sort=price&direction=asc" class="dropdown-item">By Price</a>
                <a href="{%  url 'products' %}?sort=category&direction=asc" class="dropdown-item">By Category</a>
                <a href="{%  url 'products' %}" class="dropdown-item">All Products</a>
            </div>
        </li>
    -->
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Menu
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="{% url 'products' %}?category=burgers" class="dropdown-item">Burgers</a>
                <a href="{% url 'products' %}?category=pizza" class="dropdown-item">Pizza</a>
                <a href="{% url 'products' %}?category=loaded_chips" class="dropdown-item ">Chips</a>
                <a href="{% url 'products' %}?category=salads,creoles,kebabs,wraps,baguettes,china_town,fish,sides" class="dropdown-item ">Other dishes</a>
                <!-- <a href="" class="dropdown-item">All Products</a> -->
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="meals-deals-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Meals & Deals
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="meals-deals-link">
                <a href="{% url 'products' %}?category=kids_meals" class="dropdown-item">Kids Meals</a>
                <a href="{% url 'products' %}?category=meals" class="dropdown-item">Regular Meals</a>
                <a href="{% url 'products' %}?category=deals" class="dropdown-item">Deals</a>
                <a href="{% url 'products' %}?category=daily_offers" class="dropdown-item">Daily Offers</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="deserts-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Deserts
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="deserts-link">
                <a href="{% url 'products' %}?category=milkshakes" class="dropdown-item">Milkshakes</a>
                <a href="{% url 'products' %}?category=crepes" class="dropdown-item">Crêpes</a>
                <a href="{% url 'products' %}?category=ice_cream" class="dropdown-item">Ice Creams</a>
                <a href="{% url 'products' %}?category=other_deserts" class="dropdown-item">Cookies & Donuts</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="deserts-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Other
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="deserts-link">
                <a href="{% url 'products' %}?category=drink" class="dropdown-item">Drinks</a>
                <a href="{% url 'products' %}?category=extras" class="dropdown-item">Dips</a>
                <a href="{% url 'products' %}?category=new_products" class="dropdown-item">New Products</a>
            </div>
        </li>
        <!--
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black" href="#" id="specials-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Our Specials
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="specials-link">
                <a href="" class="dropdown-item">Burgers</a>
                <a href="" class="dropdown-item">Pizza</a>
                <a href="" class="dropdown-item">Fish & Chips</a>
                <a href="" class="dropdown-item">Loaded chips</a>
                <a href="" class="dropdown-item">China TOwn</a>
                <a href="" class="dropdown-item">All Specials</a>
            </div>
        </li>
    -->
    </ul>
</div>