<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Products
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="" class="dropdown-item">By Price</a>
                <a href="" class="dropdown-item">By Category</a>
                <a href="" class="dropdown-item ">Newest</a>
                <a href="" class="dropdown-item">All Products</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="meals-deals-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Meals & Deals
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="meals-deals-link">
                <a href="" class="dropdown-item">Kids Meals</a>
                <a href="" class="dropdown-item">Regular Meals</a>
                <a href="" class="dropdown-item">Deals</a>
                <a href="" class="dropdown-item">Daily Offers</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="deserts-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Deserts
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="deserts-link">
                <a href="" class="dropdown-item">Milkshakes</a>
                <a href="" class="dropdown-item">Crepes</a>
                <a href="" class="dropdown-item">Ice Creams</a>
                <a href="" class="dropdown-item">Biscuits & Donust</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black" href="#" id="specials-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Our Specials
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="specials-link">
                <a href="" class="dropdown-item">Burgers</a>
                <a href="" class="dropdown-item">Pizza</a>
                <a href="" class="dropdown-item">Fish & Chips</a>
                <a href="" class="dropdown-item">Loaded chips</a>
                <a href="" class="dropdown-item">China TOwn</a>
                <a href="" class="dropdown-item">All Specials</a>
            </div>
        </li>
    </ul>
</div>