{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <!-- template from getbootstrap -->
    {% block meta %}
    <!-- Required meta tags -->
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% endblock %}

    {% block extra_meta %}
    {% endblock %}

    {% block core_css %}
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Titillium+Web:wght@300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Indie+Flower&family=Titillium+Web:wght@600&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap" rel="stylesheet">
    {% endblock %}

    {% block extra_css %}
    {% endblock %}

    {% block core_js %}
    <script src="https://kit.fontawesome.com/cdc5be118f.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
    {% endblock %}

    {% block extra_js %}
    {% endblock %}

    <title>Crazy burger {% block extra_title%}{% endblock %}</title>
  </head>
  <body>
    <header class="container-fluid fixed-top">
      <div id="topnav" class="row bg-white pt-lg-2 d-none d-lg-flex">
          <div class="col-12 col-lg-4 my-auto py-1 py-lg-0 text-center text-lg-left">
              <a href="{% url 'home' %}" class="nav-link main-logo-link">
                    <div class="row">
                        <div class="col">
                            <h2 class="logo-font text-danger my-0 mt-3">Crazy<strong>Burger</strong></h2>
                        </div>
                        <div class="col">
                            <img src="../media/CrazyBurger-logos_transparent-220px.png" width="70" height="70" class="d-inline-block align-top" alt="">
                        </div>
                    </div>
              </a>
          </div>
          <div class="col-12 col-lg-4 my-auto py-1 py-lg-0">
              <form method="GET" action="{% url 'products' %}">
                  <div class="input-group w-100">
                      <input class="form-control border border-black rounded-0" type="text" name="q" placeholder="Search our menu">
                      <div class="input-group-append">
                          <button class="form-control btn btn-black border border-black rounded-0" type="submit">
                              <span class="icon">
                                  <i class="fas fa-search"></i>
                              </span>
                          </button>
                      </div>
                  </div>
              </form>
          </div>
          <div class="col-12 col-lg-4 my-auto py-1 py-lg-0">
              <ul class="list-inline list-unstyled text-center text-lg-right my-0">
                  <li class="list-inline-item dropdown">
                      <a class="text-black nav-link" href="#" id="user-options" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          <div class="text-center">
                              <div><i class="fas fa-user fa-lg"></i></div>
                              <p class="my-0">My Account</p>
                          </div>
                      </a>
                      <div class="dropdown-menu border-0" aria-labelledby="user-options">
                          {% if request.user.is_authenticated %}
                              {% if request.user.is_superuser %}
                                  <a href="" class="dropdown-item">Product Management</a>
                              {% endif %}
                              <a href="" class="dropdown-item">My Profile</a>
                              <a href="{% url 'account_logout' %}" class="dropdown-item">Logout</a>
                          {% else %}
                              <a href="{% url 'account_signup' %}" class="dropdown-item">Register</a>
                              <a href="{% url 'account_login' %}" class="dropdown-item">Login</a>
                          {% endif %}
                      </div>
                  </li>
                  <li class="list-inline-item">
                      <a class="{% if grand_total %}text-info font-weight-bold{% else %}text-black{% endif %} nav-link" href="{% url 'view_bag' %}">
                          <div class="text-center">
                              <div><i class="fas fa-shopping-bag fa-lg"></i></div>
                              <p class="my-0">
                                  {% if total %}
                                      €{{ total|floatformat:2 }}
                                  {% else %}
                                      €0.00
                                  {% endif %}
                              </p>
                          </div>
                      </a>
                  </li>
              </ul>
          </div>
          <div class="col-12 col-lg-4 my-auto py-1 py-lg-0"></div>
      </div>
      <div class="row bg-white">
        <nav class="navbar navbar-expand-lg navbar-light w-100">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-nav" aria-controls="main-nav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            {% include 'includes/mobile-top-header.html' %}
            {% include 'includes/main-nav.html' %}
        </nav>
    </div>
    <div id="delivery-banner" class="row text-center">
        <div class="col bg-black text-white">
            <h4 class="logo-font my-1">Free delivery on orders over €{{ free_delivery_threshold }}!</h4>                
        </div>            
    </div>
  </header>
  
    {% if messages %}
    <div class="message-container"></div>
    {% endif %}
  
    {% block page_header %}
    {% endblock %}
  
    {% block content %}
    {% endblock %}
  
    {% block postload_js %}
    {% endblock %}
  
  </body>
</html>