{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col">
                
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
<div class="overlay"></div>
    <div class="container-fluid">
        <div class="row">
            <!-- first col screen layout -->
            <div class="col-12 col-md-6 col-lg-4 offset-lg-2">
                <div class="image-container my-5">
                    {% if product.image %}
                        <a href="{{ product.image.url }}" target="_blank">
                            <img class="card-img-top img-fluid" src="{{ product.image.url }}" alt="{{ product.name }}">
                        </a>
                        {% else %}
                        <a href="">
                            <img class="card-img-top img-fluid" src="{{ MEDIA_URL }}noimage.png" alt="{{ product.name }}">
                        </a>
                    {% endif %}
                </div>
            </div>
            <!-- second col screen layout-->
            <div class="col-12 col-md-6 col-lg-4">
                <div class="product-details-container mb-5 mt-md-5">
                    <p class="mb-0">{{ product.name }}</p>
                    <p class="lead mb-0 text-left font-weight-bold" id="product-price">€{{ product.price }}</p>
                    <!-- hidden input for price -->
                    <input class="d-none" type="checkbox" id="id-price" name="id-price" value="{{product.price}}">
                    {% if product.category %}
                        <p class="small mt-1 mb-0">
                            <a class="text-muted" href="{% url 'products' %}?category={{ product.category.name }}">
                                <i class="fas fa-utensils mr-1"></i> {{ product.category.friendly_name }}
                            </a>
                        </p>
                    {% endif %}
                    {% if product.rating %}
                        <small class="text-muted"><i class="fas fa-star mr-1"></i>{{ product.rating }} / 5</small>
                    {% else %}
                    <!--
                        <small class="text-muted">No Rating</small>
                    -->
                    {% endif %}
                    <p class="mt-3">{{ product.description }}</p>
                    <p class="mt-3">Allergens:
                    {% for allergen in allergens %}
                    {{ allergen }}, 
                    {% endfor%}
                    </p>

                    <form class="form" action="{% url 'add_to_bag' product.id %}" method="POST">
                        {% csrf_token %}
                        <div class="form-row">
                            <!-- input -->
                            <div class="col-12">
                                <!-- make it meal -->
                                <p class="mt-3">
                                    {% if product.price_meal %}
                                    <input type="checkbox" id="id-price-meal" name="id-price-meal" value="{{product.price_meal}}">
                                    <b>Make it meal for €{{ product.price_meal }}!
                                    {% endif %}</b>
                                </p>

                                <!-- select drink -->
                                <div id="drink-selection" class="d-none">
                                    <div class="form-check-inline">
                                        <label class="form-check-label">
                                        <input type="radio" class="form-check-input" name="optradio" value="coke" checked>Coke
                                        </label>
                                    </div>
                                    <div class="form-check-inline">
                                        <label class="form-check-label">
                                        <input type="radio" class="form-check-input" name="optradio" value="diet">Diet Coke
                                        </label>
                                    </div>
                                    <div class="form-check-inline">
                                        <label class="form-check-label">
                                        <input type="radio" class="form-check-input" name="optradio" value="zero">Coke Zero
                                        </label>
                                    </div>
                                    <div class="form-check-inline">
                                        <label class="form-check-label">
                                        <input type="radio" class="form-check-input" name="optradio" value="fanta">Fanta
                                        </label>
                                    </div>
                                    <div class="form-check-inline">
                                        <label class="form-check-label">
                                        <input type="radio" class="form-check-input" name="optradio" value="sprite">Sprite
                                        </label>
                                    </div>
                                </div>

                                <p class="mt-3"><strong>Quantity:</strong></p>
                                <div class="form-group w-50">
                                    <div class="input-group">
                                        <input class="form-control qty_input" type="number" name="quantity" value="1" min="1" max="99" data-item_id="{{ product.id }}" id="id_qty_{{ product.id }}">
                                    </div>
                                </div>
                            </div>
                            <!-- buttons -->
                            <div class="col-12">
                                <a href="{% url 'products' %}" class="btn btn-outline-black rounded-0 mt-5">
                                    <span class="icon">
                                        <i class="fas fa-chevron-left"></i>
                                    </span>
                                    <span class="text-uppercase">Keep Shopping</span>
                                </a>
                                <input type="submit" class="btn btn-black rounded-0 text-uppercase mt-5" value="Add to Bag">
                            </div>
                            <input type="hidden" name="redirect_url" value="{{ request.path }}">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        $(document).ready(function() {
        
            $('input:checkbox#id-price-meal').change(function(){
            if($(this).is(":checked")) {
                $('div#drink-selection').removeClass("d-none");
                var price_meal = parseFloat($('#id-price-meal').val()).toFixed(2);
                $('#product-price').text("€" + price_meal);
            } else {
                $('div#drink-selection').addClass("d-none");
                var price = parseFloat($('#id-price').val()).toFixed(2);
                $('#product-price').text("€" + price);
            }
        });
        
        })
        </script>
{% endblock %}
